.basket__product-item{
    display: flex;
    padding: 15px;
    border: 1px solid #707070;
}

.basket__wrapper{
    max-width: 600px;
    padding-top: 200px;
    margin: 0 auto;
    h1{
        text-align: center;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        color: #333333;
        margin-bottom: 15px;
    }
    p{
        text-align: center;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
        color: #707070;
        width: 400px;
        margin-bottom: 15px;
    }
    h2{
        text-align: center;
        text-align: center;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 22px;
        color: #333333;
    }
}

.basket__remove{
    margin-top: 170px;
    margin-left: 370px;
}