.header__wrapper{
    display: flex;
    padding: 8px 25px 0;
    border-bottom: 1px solid #E5E5E5;
}

.header__hi,.header__or{
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 12px;
    color: #000000;
}

.header__signIn {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 12px;
    color: #0654BA;
    margin: 0 4px;
}

.header__register{
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 12px;
    color: #0654BA;
    margin: 0 31px 0 4px;
}

.header__parag{
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #000000;
    margin-right: 20px;
    width: 81px;
}

.header__parag-own{
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #000000;
    margin-left: 380px;
    margin-right: 21px;
}

.header__watch{
    border: none;
    background-color: transparent;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 12px;
    color: #111820;
    height: 12px;
    margin-right: 26px;
}

.header__my{
    border: none;
    background-color: transparent;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 12px;
    color: #111820;
    height: 12px;
    margin-right: 33px;
}

.header__bell{
    color:black;
    margin-right: 31px;
}

.header__basket{
    color:black;
}